* {
    box-sizing: border-box;
  }
  
  .container {
    text-align: center;
  }
  

  .details-img{
    width: 50%;
    height: 400px;
  }
  .info{
    margin: auto;
    font-size: 20px;
    width: 50%;
  }
  